@page
@model KE03_INTDEV_SE_1_Base.Pages.CartModel
@{
}

<h1>Winkelwagen</h1>

<div id="cart"></div>

<form method="post" onsubmit="krijgWinkelwagen()">
    <input type="hidden" id="cartData" name="cartData" />
    <button type="submit">
        Bestellen
    </button>
</form>

<script src="~/js/site.js"></script>
<script>
	laadWinkelwagen()
</script>