@page
@model KE03_INTDEV_SE_1_Base.Pages.ProductsModel
@{
}

<h1>Alle Producten</h1>

@foreach(var p in Model.Products)
{
	@p.Name;
	@p.Price;
	<a asp-page="ProductDetail" asp-route-productId="@p.Id">
		<button>
			Klik hier
		</button>
	</a>
	<br />
}